@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */

  .regular-64 {
    @apply text-[62px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }
  .regular-10 {
    @apply text-[10px] font-[400];
  }
  .regular-12 {
    @apply text-[12px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[500];
  }
  .medium-16 {
    @apply text-[16px] font-[500];
  }
  .medium-12 {
    @apply text-[12px]  font-[500];
  }
  .medium-10 {
    @apply text-[10px]  font-[500];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-48 {
    @apply text-[48px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }
  .bold-14 {
    @apply text-[14px] font-[700];
  }
  .bold-12 {
    @apply text-[12px] font-[700];
  }

  .btn-gray {
    @apply bg-slate-100 medium-12;
  }
  .btn-white {
    @apply bg-white border-gray-100 border text-gray-900 hover:bg-gray-100;
  }
  .btn-black {
    @apply bg-black hover:opacity-80  text-white;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e2e8f0;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #e2e8f0;
}
